.history-loading{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-size: 24px;
}

.history-page, .history-loading{
  min-height: 70vh;
}

.history-cards-container{
  margin: 120px 120px 40px 120px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.history-empty{
  margin-top: 120px;
  text-align: center;
  font-size: 24px;
}

.history-head{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.history-table-head{
  display: flex;
  background-color: purple;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.history-table-head *{
  background-color: purple;
}

.history-table-head div{
  width: 16.66%;
  text-align: center;
}

.transaction-card{
  border: 2px solid purple;
  border-radius: 15px;
  overflow: hidden;
  padding: 5px 10px;
  
}

.history-table-row{
  display: flex;
  padding: 10px 0px;
}

.history-subtitle{
  display: none;
}

.history-cell{
  width: 16.66%;
  max-width: 16.66%;
  font-size: 14px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(72, 72, 72);
  text-align: center;
}

.history-table-amount{
  color: green;
  font-weight: 600;
}

.transaction-id{
  color: purple;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width:1250px){
  .history-cards-container{
    margin: 120px 20px 40px 20px;
  }
}

@media (max-width: 950px){
  .history-table-head{
    display: none;
  }

  .history-subtitle{
    display: block;
  }

  .history-table-row{
    flex-direction: column;
    padding: 10px 0px;
  }

  .history-cell{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    max-width: 100%;
    font-size: 16px;
    padding: 10px 0px;
  }
}

@media (max-width: 600px){
  .history-cell{
    width: 100%;
    margin-left: 0%;
    max-width: 100%;
  }
}

@media (max-width: 440px){
  .history-cell{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 0%;
    max-width: 100%;
    font-size: 12px;
    padding: 10px 0px;
  }
}