@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Nata+Sans:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald ", sans-serif;
  --font-color: rgb(214, 214, 214);
  --main-bg-color: #181818;
  --card-color: #090818;
  --hover-color: rgb(201, 131, 1);
  --hover-bg-color: #2f2f2f;
  --inverse-font-color: #181818;
  --inverse-bg-color: rgb(214, 214, 214);
  --inverse-hover-bg-color: rgb(214, 214, 214);
  --font-gradient: linear-gradient(83deg, rgba(106, 90, 205, 1) 0%, rgba(197, 75, 140, 1) 51%, rgba(178, 132, 190, 1));
  color: var(--font-color);
  background-color: var(--main-bg-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin-top: 10px;
  position: relative;
}

.logo {
  font-family: 'Edu NSW ACT Cursive', cursive;
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  margin-left: 120px;
  cursor: pointer;
}

.icon-container {
  display: flex;
  align-items: center;
  column-gap: 100px;
  margin-right: 120px;
}

.icon-container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  position: absolute;
  top: 20px;
  right: 60px;
  width: 150px;
  padding: 20px 10px;
  z-index: 999;
  border: 10px;
  display: none;
}

.icon-container2, .icon-container2 *{
  background-color: var(--card-color);
}

.icon-2{
  position: relative;
  display: flex;
  justify-content: center;
}

.icon-2 *{
  position: absolute;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon,
.icon * {
  font-size: 25px;
  background-color: inherit;
}

.icon-name {
  font-size: 12px !important;
}

.icon-name2{
  font-size: 14px !important;
}

@media (max-width: 1250px){
  .logo {
    margin-left: 20px;
  }
  
  .icon-container {
    margin-right: 20px;
  }
}

@media (max-width: 680px){
  .icon-container{
    display: none;
  }

  .icon-container2{
    display: flex;
  }
}

@media (max-width: 370px){
  .logo {
    margin-left: 5px;
  }
  
  .icon-container {
    margin-right: 5px;
  }
}