.homepage{
  margin: 0px 120px;
}

.filter{
  width: 100%;
  margin-top: 60px;
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.filter *{
  font-size: 20px;
}

.filter-by{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  background-color: gray;
  padding: 4px 15px;
  border-radius: 10px;
}

.filter-by *{
  background-color: inherit;
}

.filter-container{
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.filter-container *{
  cursor: pointer;
  padding: 4px 25px;
  border-radius: 10px;
}

#all{
  background-color: gray;
}

@media (max-width: 1250px){
  .homepage{
    margin: 0px 20px;;
  }
}

@media (max-width: 880px){
  .filter{
    column-gap: 20px;
  }

  .filter-container{
    column-gap: 20px;
  }
}

@media (max-width: 830px){
  .filter *{
    font-size: 15px;
  }

  .filter-by{
    padding: 4px 8px;
  }

  .filter-container *{
    padding: 4px 10px;
  }
}

@media (max-width: 480px){
  .filter-by{
    display: none;
  }

  .filter{
    column-gap: 10px;
  }

  .filter-container{
    column-gap: 10px;
  }
}

@media (max-width: 370px){
  .homepage{
    margin: 0px 5px;
  }

  .filter{
    column-gap: 0px;
  }

  .filter-container{
    column-gap: 5px;
  }

  .filter *{
    font-size: 12px;
  }
}