.homepage{
  margin: 0px 120px;
  margin-top: 0px;
}

.filter{
  width: 100%;
  margin-top: 60px;
  display: flex;
  column-gap: 50px;
  align-items: center;
}

.filter *{
  font-size: 20px;
}

.filter-by{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  background-color: gray;
  padding: 4px 15px;
  border-radius: 10px;
}

.filter-by *{
  background-color: inherit;
}

.filter-container{
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.filter-container *{
  cursor: pointer;
  padding: 4px 25px;
  border-radius: 10px;
}

#all{
  background-color: gray;
}